/* General Definitions */
:root {
    --accent1: #ae2c2c;
    --accent2: #5a6e56;
    --accent3: #4c054e;
}
.body * {
    text-align: center;
}
.body > a > div {
    padding: 3rem 0 3rem 0;
}
.body > a > div > h1 {
    text-decoration: underline;
}
.body > a > div > h2 {
    text-decoration: none;
}

/* Section: Title */
.titlepage {
    background-color: var(--primary-color);
}

/* Section: Musts in Voting */
.doinvoting {
    background-color: var(--accent1);
    color: white
}

/* Section: Steps and Requirements */
.stepsandreqs {
    background-color: var(--accent2);
    color: white;
}
.stepsandreqs > h1 {
    font-size: 4.5rem;
}

/* Section: About Us */
.aboutus {
    background-color: var(--accent3);
    color: white;
}