/* General Definitions */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
    font-family: "Roc Grotesk";
    src: url(../src/fonts/rocgroteskwide-bold.otf);
}
:root {
    --primary-color: #8e2020
}
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black */
}

/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 5rem;
    font-family: "Roc Grotesk", sans-serif;
}
h2 {
    font-size: 3rem;
    font-family: "Roc Grotesk", sans-serif;
}
a, a:active, a:visited {
    text-decoration:none;
}

/* Section: Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    position: sticky;
    top: 0;
    background-color: white;
}
.header > .logo > img {
    height: 4rem;
}
.header > .nav {
    display: flex;
    justify-content: space-between;
}
.header > .nav > a {
    padding: 1rem 2rem;
}

/* Section: Body */
.body > .title {
    text-align: center;
    padding: 2rem;
}

/* Section: Sidebar */
.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0;
    height: 100dvh;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2rem 0;
    text-align: center;
    text-wrap: nowrap;
    color: white
}
.sidebar > .close {
    text-align: right;
    transition: 0.5;
}
.sidebar > img {
    height: 4rem
}
.sidebar > .nav {
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* Section: Footer */
.footer {
    display: flex;
    align-items: center;
    padding: 4rem;
}

.footer > div {
    flex: 0 0 50%;
}
.footer > .logo {
    text-align: center;
}
.footer > .logo > img {
    height: 6rem;
    text-align: center;
}
.footer > .credit > p {
    margin-right: 10rem;
    text-align: justify;
}

/* Utility */
