/* Section: General Definitions */
:root {
    --maincontent: #004aad;
    --collapsibleBackground: #fbd230
}
/* Section: Title */
.title {
    background-image: url("/src/voteline.png");
    background-position: 75%;
    background-size: cover;
    color: white;
}
.title h1 {
    margin: 4rem 0rem
}
/* Section: Main Content */
.main {
    text-align: center;
    padding: 4rem;
    background-color: var(--maincontent);
    color: white;
}
/* Section: Collapsible Boxes */
.collapsibles {
    margin: 0 10rem;
    text-align: left
}
.collapsibles > .collapsibleItem {
    background-color: var(--collapsibleBackground);
    color: black;
    margin: 1.5rem 0;
    
}
.collapsibles > .collapsibleItem > .collapsibleHeader {
    cursor:pointer;
    background-color: var(--collapsibleBackground);
    margin-left: 1rem;
    padding: 0.25rem
}
.collapsibles > .collapsibleItem > .collapsibleBody {
    display: none;
    transition: 0.5s;
    background-color: var(--collapsibleBackground);
    padding: 0.5rem

}
.collapsibles > .collapsibleItem > .collapsibleBody > div {
    background-color: white;
    padding: 0.5rem;
}
#collapsibleItem1 ul {
    margin-left: 2rem;
    text-align: left;
}
#ytembed {
    height: 27rem; width: 48rem;

}